In [1]:
### Dependencies and Setup ###
import pandas as pd
import numpy as np

# Read Purchasing File and store into Pandas data frame called "pdata"
pdata = pd.read_csv("purchase_data.csv")

In [2]:
### Player Count ###
# Counting by individual SN and displaying length of that list
total_players = pdata[["SN"]].value_counts()
total_players_len = (len(total_players))

# Create new dataframe and display aligned to left
total_players_df = pd.DataFrame ({"Total Players":[total_players_len]})
total_players_df = total_players_df.style.set_properties(**{'text-align': 'left'})
total_players_df

In [3]:
### Purchasing Analysis Total ###
# Item ID
no_unique_items = len(pdata["Item ID"].value_counts())

# Average Purchase Price, fomatted
sum_of_price = pdata["Price"].sum()
no_of_sales = pdata["Price"].count()
avg_purchase_price = sum_of_price / no_of_sales
avg_purchase_price = '$' + str(avg_purchase_price.round(decimals=2))

# Total Number of Purchases
no_purchase_ids = pdata["Purchase ID"].count()

# Total Revenue -defined above as sum_of_price, formatted
sum_of_price = '$' + str(sum_of_price.round(decimals=2))

# Create new dataframe and display aligned to left
purchasing_analysis_total_df = pd.DataFrame ({
    "Number of Unique Items":[no_unique_items],
    "Average Price":[avg_purchase_price], 
    "Number of Purchases":[no_purchase_ids], 
    "Total Revenue":[sum_of_price]
    })
purchasing_analysis_total_df = purchasing_analysis_total_df.style.set_properties(**{'text-align': 'left'})
purchasing_analysis_total_df

In [4]:
### Gender Demographics ###
# Locate a gender type in the Gender column and return SN, sorted by number of unique instances, and count
no_males = len(pdata.loc[pdata['Gender'] == 'Male', ['SN']].value_counts())
no_females = len(pdata.loc[pdata['Gender'] == 'Female', ['SN']].value_counts())
no_other_nd = len(pdata.loc[pdata['Gender'] == 'Other / Non-Disclosed', ['SN']].value_counts())

# Calculate % for each and round decminal places, convert to str then add '%'
# Total Count of all players -defined above as total_players_len
per_males = no_males / total_players_len * 100
per_males = round(per_males, 2)
per_males = str(per_males) + '%'

per_females = no_females / total_players_len * 100
per_females = round(per_females, 2)
per_females = str(per_females) + '%'

per_other_nd = no_other_nd / total_players_len * 100
per_other_nd = round(per_other_nd, 2)
per_other_nd = str(per_other_nd) + '%'

# Create new dataframe, change row indexes, display aligned to left
gender_demo = pd.DataFrame ({
    "Total Count":[no_males, no_females, no_other_nd],
    "Percentage of Players":[per_males, per_females, per_other_nd]
    })
gender_demo.index = ['Male', 'Female', 'Other / Non-Disclosed']
gender_demo = gender_demo.style.set_properties(**{'text-align': 'left'})
gender_demo

In [5]:
### Purchasing Analysis (Gender) ###
# Count number of purchases by gender
female_purchase_count = len(pdata.loc[pdata['Gender'] == 'Female', ['SN']])
male_purchase_count = len(pdata.loc[pdata['Gender'] == 'Male', ['SN']])
other_nd_purchase_count = len(pdata.loc[pdata['Gender'] == 'Other / Non-Disclosed', ['SN']])

# Average purchase price by gender
avg_purch_female = pdata.loc[pdata['Gender'] == 'Female', ['Price']].mean()
avg_purch_male = pdata.loc[pdata['Gender'] == 'Male', ['Price']].mean()
avg_purch_other_nd = pdata.loc[pdata['Gender'] == 'Other / Non-Disclosed', ['Price']].mean()

# Total purchase value by gender
sum_purch_female = pdata.loc[pdata['Gender'] == 'Female', ['Price']].sum()
sum_purch_male = pdata.loc[pdata['Gender'] == 'Male', ['Price']].sum()
sum_purch_other_nd = pdata.loc[pdata['Gender'] == 'Other / Non-Disclosed', ['Price']].sum()

# The no of each gender with a unique SN
uni_sn_female = pdata.loc[pdata['Gender'] == 'Female', ["SN"]].value_counts()
uni_sn_female = len(uni_sn_female)
uni_sn_male = pdata.loc[pdata['Gender'] == 'Male', ["SN"]].value_counts()
uni_sn_male = len(uni_sn_male)
uni_sn_other_nd = pdata.loc[pdata['Gender'] == 'Other / Non-Disclosed', ["SN"]].value_counts()
uni_sn_other_nd = len(uni_sn_other_nd)

# Average total purchase per person (atppp) is sum of each gender's purchases / no. of unique members of that gender
atppp_female = sum_purch_female / uni_sn_female
atppp_male = sum_purch_male / uni_sn_male
atppp_other_nd = sum_purch_other_nd / uni_sn_other_nd

## Formatting for dataframe
# average purchase
avg_purch_female = float(round(avg_purch_female, 2))
avg_purch_female = '$' + str(avg_purch_female)
avg_purch_male = float(round(avg_purch_male, 2))
avg_purch_male = '$' + str(avg_purch_male)
avg_purch_other_nd = float(round(avg_purch_other_nd, 2))
avg_purch_other_nd = '$' + str(avg_purch_other_nd)
# sum purchase
sum_purch_female = float(round(sum_purch_female, 2))
sum_purch_female = '$' + str(sum_purch_female)
sum_purch_male = float(round(sum_purch_male, 2))
sum_purch_male = '$' + str(sum_purch_male)
sum_purch_other_nd = float(round(sum_purch_other_nd, 2))
sum_purch_other_nd = '$' + str(sum_purch_other_nd)
# atppp
atppp_female = float(round(atppp_female, 2))
atppp_female = '$' + str(atppp_female)
atppp_male = float(round(atppp_male, 2))
atppp_male = '$' + str(atppp_male)
atppp_other_nd = float(round(atppp_other_nd, 2))
atppp_other_nd = '$' + str(atppp_other_nd)

# Create new dataframe, change row indexes and formatting
gendemo_purch = pd.DataFrame ({
    "Purchase Count":[female_purchase_count, male_purchase_count, other_nd_purchase_count],
    "Average Purchase Price":[avg_purch_female, avg_purch_male, avg_purch_other_nd],   
    "Total Purchase Value":[sum_purch_female, sum_purch_male, sum_purch_other_nd], 
    "Avg Total Purchase per Person":[atppp_female, atppp_male, atppp_other_nd], 
    })
gendemo_purch.index = ['Female', 'Male', 'Other / Non-Disclosed']
gendemo_purch.index.name = "Gender"
gendemo_purch = gendemo_purch.style.set_properties(**{'text-align': 'left'})
gendemo_purch

In [6]:
### Age Demographics ###
# Creating bins and age range column
bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 999]
bin_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
age_data = pdata
age_data["Age Ranges"] = pd.cut(age_data["Age"], bins, labels=bin_names)

# Grouping age range data
age_data_group = pdata.groupby("Age Ranges")

# Number of unique players per group
age_count_uni = age_data_group["SN"].nunique()

# Percentage of players by age, total players defined above
percentage_by_age = age_count_uni/total_players_len * 100

# Creating a new dataframe and formatting results
age_data_df = pd.DataFrame ({
    "Total Count":age_count_uni,
    "Percentage of Players":percentage_by_age
    })
age_data_df["Percentage of Players"] = age_data_df["Percentage of Players"].map("{:,.2f}%".format)
age_data_df = age_data_df.style.set_properties(**{'text-align': 'left'})
age_data_df

In [7]:
### Purchasing Analysis (Age) ###
#Purchase count by age
purchase_count_age_range = age_data_group["Item ID"].count()

#Average purchase price by age
avg_purch_age = age_data_group["Price"].mean()

#Total purchase value by age
total_purch_value_age = age_data_group["Price"].sum()

# Avg Total Purchase per Person, No. of unique members of each age range defined above
avg_total_purch_per_person = total_purch_value_age / age_count_uni

# Create dataframe and format
purch_age_df = pd.DataFrame ({
    "Purchase Count": purchase_count_age_range,
    "Average Purchase Price": avg_purch_age,
    "Total Purchase Value": total_purch_value_age,
    "Avg Total Purchase per Person": avg_total_purch_per_person
    })
purch_age_df["Average Purchase Price"] = purch_age_df["Average Purchase Price"].map("${:,.2f}".format)
purch_age_df["Total Purchase Value"] = purch_age_df["Total Purchase Value"].map("${:,.2f}".format)
purch_age_df["Avg Total Purchase per Person"] = purch_age_df["Avg Total Purchase per Person"].map("${:,.2f}".format)
purch_age_df = purch_age_df.style.set_properties(**{'text-align': 'left'})
purch_age_df

In [8]:
### Top Spenders ###
# Grouping player stats by SN, so data already refers to unique players
top_spenders = pdata.groupby("SN")

# Counting the number of purchases
purchase_count = top_spenders["Purchase ID"].count()

# Calculating the average purchase price per player
avg_pur_price = top_spenders["Price"].mean()

# Calculating total purchase value per player
sum_of_pur_val = top_spenders["Price"].sum()

# Creating dataframe
top_spenders_df = pd.DataFrame ({
    "Purchase Count":purchase_count,
    "Average Purchase Price":avg_pur_price,
    "Total Purchase Value":sum_of_pur_val
    })

#Sort and format
top_spenders_df = top_spenders_df.sort_values(["Total Purchase Value"], ascending=False).head()
top_spenders_df["Average Purchase Price"] = top_spenders_df["Average Purchase Price"].map("${:,.2f}".format)
top_spenders_df["Total Purchase Value"] = top_spenders_df["Total Purchase Value"].map("${:,.2f}".format)
top_spenders_df = top_spenders_df.style.set_properties(**{'text-align': 'left'})
top_spenders_df

In [9]:
### Most Profitable Items ###
# Grouping groups item id and count
pop_items = pdata.groupby(["Item ID", "Item Name"])

# Number of each item purchased
purchase_count = pop_items["Item ID"].count()

# Average for all items purchased of each type
avg_item_price = pop_items["Price"].mean()

# Total item price, found by adding all the prices, as these can vary
total_purch_value = pop_items["Price"].sum()

# Create dataframe
most_pop_items_df = pd.DataFrame ({
    "Purchase Count":purchase_count,
    "Item Price":avg_item_price,
    "Total Purchase Value":total_purch_value
})

# Sort and format
most_pop_items_df = most_pop_items_df.sort_values(["Purchase Count"], ascending=False).head()
most_pop_items_df["Item Price"] = most_pop_items_df["Item Price"].map("${:,.2f}".format)
most_pop_items_df["Total Purchase Value"] = most_pop_items_df["Total Purchase Value"].map("${:,.2f}".format)
most_pop_items_df = most_pop_items_df.style.set_properties(**{'text-align': 'left'})
most_pop_items_df

In [12]:
### Most Profitable Items ### *same code as above just sorted by "Total Purchase Value"

# Grouping groups item id and count
pop_items = pdata.groupby(["Item ID", "Item Name"])

# Number of each item purchased
purchase_count = pop_items["Item ID"].count()

# Average for all items purchased of each type
avg_item_price = pop_items["Price"].mean()

# Total item price, found by adding all the prices, as these can vary
total_purch_value = pop_items["Price"].sum()

# Create dataframe
most_pop_items_df = pd.DataFrame ({
    "Purchase Count":purchase_count,
    "Item Price":avg_item_price,
    "Total Purchase Value":total_purch_value
})

# Sort and format *this time by "Total Purchase Value"
most_pop_items_df = most_pop_items_df.sort_values(["Total Purchase Value"], ascending=False).head()
most_pop_items_df["Item Price"] = most_pop_items_df["Item Price"].map("${:,.2f}".format)
most_pop_items_df["Total Purchase Value"] = most_pop_items_df["Total Purchase Value"].map("${:,.2f}".format)
most_pop_items_df = most_pop_items_df.style.set_properties(**{'text-align': 'left'})
most_pop_items_df