In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# Read Purchasing File and store into Pandas data frame
# Original dataframe called "pdata"
pdata = pd.read_csv("purchase_data.csv")

In [2]:
# Player Count
# Total Number of Players
# Counting by individual SN and displaying length of that list
total_players = pdata[["SN"]].value_counts()
total_players_len = (len(total_players))

# Create new dataframe and display aligned to left
total_players_df = pd.DataFrame ({"Total Players":[total_players_len]})
total_players_df = total_players_df.style.set_properties(**{'text-align': 'left'})
total_players_df

In [3]:
# Purchasing Analysis Total

# Item ID
no_unique_items = len(pdata["Item ID"].value_counts())

# Average Purchase Price, fomatted
sum_of_price = pdata["Price"].sum()
no_of_sales = pdata["Price"].count()
ave_purchase_price = sum_of_price / no_of_sales
ave_purchase_price = '$' + str(ave_purchase_price.round(decimals=2))

# Total Number of Purchases
no_purchase_ids = pdata["Purchase ID"].count()

# Total Revenue -defined above as sum_of_price, formatted
sum_of_price = '$' + str(sum_of_price.round(decimals=2))

# Create new dataframe and display aligned to left
purchasing_analysis_total_df = pd.DataFrame (
    {"Number of Unique Items":[no_unique_items],
     "Average Price":[ave_purchase_price], 
     "Number of Purchases":[no_purchase_ids], 
    "Total Revenue":[sum_of_price]
    })
purchasing_analysis_total_df = purchasing_analysis_total_df.style.set_properties(**{'text-align': 'left'})
purchasing_analysis_total_df

In [4]:
# Gender Demographics

# Locate a gender type in the Gender column and return SN, sorted by number of unique instances, and count
no_males = len(pdata.loc[pdata['Gender'] == 'Male', ['SN']].value_counts())
no_females = len(pdata.loc[pdata['Gender'] == 'Female', ['SN']].value_counts())
no_other_nd = len(pdata.loc[pdata['Gender'] == 'Other / Non-Disclosed', ['SN']].value_counts())

# Calculate % for each and round decminal places, convert to str then add '%'
# Total Count of all players -defined above as total_players_len
per_males = no_males / total_players_len * 100
per_males = round(per_males, 2)
per_males = str(per_males) + '%'

per_females = no_females / total_players_len * 100
per_females = round(per_females, 2)
per_females = str(per_females) + '%'

per_other_nd = no_other_nd / total_players_len * 100
per_other_nd = round(per_other_nd, 2)
per_other_nd = str(per_other_nd) + '%'

# Create new dataframe, change row indexes, display aligned to left
gender_demo = pd.DataFrame (
    {"Total Count":[no_males, no_females, no_other_nd],
     "Percentage of Players":[per_males, per_females, per_other_nd]
    })
gender_demo.index = ['Male', 'Female', 'Other / Non-Disclosed']
gender_demo = gender_demo.style.set_properties(**{'text-align': 'left'})
gender_demo

In [5]:
# Purchasing Analysis (Gender)

# Count number of purchases by gender
female_purchase_count = len(pdata.loc[pdata['Gender'] == 'Female', ['SN']])
male_purchase_count = len(pdata.loc[pdata['Gender'] == 'Male', ['SN']])
other_nd_purchase_count = len(pdata.loc[pdata['Gender'] == 'Other / Non-Disclosed', ['SN']])

# Average purchase price by gender
ave_purch_female = pdata.loc[pdata['Gender'] == 'Female', ['Price']].mean()
ave_purch_male = pdata.loc[pdata['Gender'] == 'Male', ['Price']].mean()
ave_purch_other_nd = pdata.loc[pdata['Gender'] == 'Other / Non-Disclosed', ['Price']].mean()

# Total purchase value by gender
sum_purch_female = pdata.loc[pdata['Gender'] == 'Female', ['Price']].sum()
sum_purch_male = pdata.loc[pdata['Gender'] == 'Male', ['Price']].sum()
sum_purch_other_nd = pdata.loc[pdata['Gender'] == 'Other / Non-Disclosed', ['Price']].sum()

# The no of each gender with a unique SN
uni_sn_female = pdata.loc[pdata['Gender'] == 'Female', ["SN"]].value_counts()
uni_sn_female = len(uni_sn_female)
uni_sn_male = pdata.loc[pdata['Gender'] == 'Male', ["SN"]].value_counts()
uni_sn_male = len(uni_sn_male)
uni_sn_other_nd = pdata.loc[pdata['Gender'] == 'Other / Non-Disclosed', ["SN"]].value_counts()
uni_sn_other_nd = len(uni_sn_other_nd)

# Average total purchase per person (atppp) is sum of each gender's purchases / no. of unique members of that gender
atppp_female = sum_purch_female / uni_sn_female
atppp_male = sum_purch_male / uni_sn_male
atppp_other_nd = sum_purch_other_nd / uni_sn_other_nd

# Formatting for dataframe
# average purchase
ave_purch_female = float(round(ave_purch_female, 2))
ave_purch_female = '$' + str(ave_purch_female)
ave_purch_male = float(round(ave_purch_male, 2))
ave_purch_male = '$' + str(ave_purch_male)
ave_purch_other_nd = float(round(ave_purch_other_nd, 2))
ave_purch_other_nd = '$' + str(ave_purch_other_nd)
# sum purchase
sum_purch_female = float(round(sum_purch_female, 2))
sum_purch_female = '$' + str(sum_purch_female)
sum_purch_male = float(round(sum_purch_male, 2))
sum_purch_male = '$' + str(sum_purch_male)
sum_purch_other_nd = float(round(sum_purch_other_nd, 2))
sum_purch_other_nd = '$' + str(sum_purch_other_nd)
# atppp
atppp_female = float(round(atppp_female, 2))
atppp_female = '$' + str(atppp_female)
atppp_male = float(round(atppp_male, 2))
atppp_male = '$' + str(atppp_male)
atppp_other_nd = float(round(atppp_other_nd, 2))
atppp_other_nd = '$' + str(atppp_other_nd)

# Create new dataframe, change row indexes, display aligned to left
gendemo_purch = pd.DataFrame (
    {"Purchase Count":[female_purchase_count, male_purchase_count, other_nd_purchase_count],
     "Average Purchase Price":[ave_purch_female, ave_purch_male, ave_purch_other_nd],   
     "Total Purchase Value":[sum_purch_female, sum_purch_male, sum_purch_other_nd], 
     "Avg Total Purchase per Person":[atppp_female, atppp_male, atppp_other_nd], 
    })

#Formatting Index and alignment

gendemo_purch.index = ['Female', 'Male', 'Other / Non-Disclosed']
gendemo_purch.index.name = "Gender"
gendemo_purch = gendemo_purch.style.set_properties(**{'text-align': 'left'})

gendemo_purch

In [6]:
# Age Demographics
#whats a bin den
#get groupin

                                Item Name           SN  Age
4                                    Fury    Iskosia90   23
6  Interrogator, Blood Blade of the Queen    Itheria73   36
7                           Abyssal Shard  Iskjaskst81   20

In [7]:
sum_purch_male = pdata.loc[pdata['Gender'] == 'Male', ['Price']].sum()
print(sum_purch_male)

Price    1967.64
dtype: float64

In [ ]:
pdata.iloc[[4,6,7], [5,1,2]]